<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Escola_Sabatina_Relógio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Escola_Sabatina_Relógio.Properties.Settings>
            <setting name="Hora" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Minuto" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="_5min" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_1min" serializeAs="String">
                <value>True</value>
            </setting>
        </Escola_Sabatina_Relógio.Properties.Settings>
    </userSettings>
</configuration>